**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.py[cod]
**/*$py.class
**/.env
**/.venv
**/env/
**/venv/
**/.tox/
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.py,cover
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.idea/
**/.vscode/
**/htmlcov/
**/build/
**/dist/
**/*.egg-info/
**/*.egg
**/docs/
**/tests/
README.md
.git
.gitignore
.python-version
**/test_*.py
**/old_*.py

# Не игнорируем модели YOLO, так как они нужны для работы
!models/
